#tags-pie {
  background-color: #ffffff;
  border: 1px solid gray;
  font: 10px sans-serif;
  height: 300px;
  text-shadow: none;
  width: 450px;
}
#tags-pie .total{
  font-size: 18px;
  font-weight: bold;
}
#tags-pie .units{
  fill: gray;
  font-size: 12px;
}
#tags-pie .label{
  fill: #CCC;
  font-size: 12px;
  font-weight: bold;
}
#tags-pie .value{
  font-size: 12px;
  font-weight: bold;
}